<div class="col-3">
  <div class="card">
    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVwyvTiGEI5Ir9bdfYvlQoML2VKFrVA8gkV2PiRUR8Uv004BqRCw" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">Event title</h4>
      <p class="card-text">Description</p>
      <p class="card-text"><small class="text-muted">Le 12 juin 2018 à 23h30</small></p>
      <p class="card-text"><small class="text-muted">Lieu : Paris</small></p>
    </div>
  </div>
</div>