<div  class="jumbotron">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        Event
      </div>
      <div class="card-body">
        <img class="card-img-top image" src="" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title title"></h5>
          <p class="card-text description"></p>
          <a href="#" class="btn btn-primary link-event-insight">Go somewhere</a>
        </div>
      </div>
      <div class="card-footer text-muted region"></div>
      <div class="card-footer text-muted city"></div>
      <div class="card-footer text-muted adress"></div>
      <div class="card-footer text-muted space-time-info"></div>
      <div class="card-footer text-muted pricing-info"></div>
    </div>
  </div>
</div>
