<div id="signin">
  <h2>Connexion</h2>
  <form>
    <div class="form-group">
      <label for="signinmail">Email address</label>
      <input type="email" class="form-control singin-input-mail" id="singinmail" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="signinpasword">Password</label>
      <input type="password" class="form-control singin-input-password" id="signinpasword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary singin-button">Connexion</button>
  </form>
</div>
