<div id="signup">
  <h2>Inscription</h2>
  <form>
    <div class="form-group">
      <div class="col">
        <input type="text" class="form-control signup-lastname" placeholder="Nom">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <input type="text" class="form-control signup-firstname" placeholder="Prénom">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <input type="email" class="form-control signup-email" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <input type="password" class="form-control signup-password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <input type="password" class="form-control signup-confirm-password" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col">
        <button type="submit" class="btn btn-primary signup-submit">Inscription</button>
      </div>
    </div>
  </form>
</div>
